.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.text{
    margin-left: 10%;
}
.form{
    padding: 4%;
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    gap: 10px;
    color: white;
}
.input{
    width: 600px;
    height: 30px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid white;
    margin: auto;
background-color: black;
}
.div-radio{
    margin-left: 10%;
}
.btn{
    background-color: white;
    color: black;
    width: 100px;
     margin-left: 10%;
     border: none;
     height: 30px;
}