
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    
    background-color: black;justify-content: center;
}
.text{
    margin-left: 10%;
}
h1{
    font-family: inter;
font-size: 64px;
font-weight: 300;}
.form{
    font-size: 24px;
    padding: 4%;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    gap: 10px;
    color: white;
}
.input{
    font-family: inter;
    font-weight: 800;
    color: white;
    width: 600px;
    height: 30px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid white;
    margin: auto;
background-color: transparent;
}
.input::placeholder{
    font-family: inter;
    font-weight: 400;
}
.div-radio{
    margin-left: 10%;
    font-size: 20px;
}
.btn{
    background-color: white;
    color: black;
    width: 100px;
     margin-left: 10%;
     border: none;
     height: 30px;
     cursor: pointer;
}